.books {
    border: 1px solid #e7e7e7;
    border-top-color: rgb(231, 231, 231);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 3px solid #f4b442;
    padding: 2rem;
    ul {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        overflow: scroll;
        li {
            flex: 0 0 30%;
            list-style-type: none;
            display: flex;
            gap: 1rem;
            img {
                border-radius: 5px;
                height: 150px;
                width: 100px;
            }
            p {
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .books {
        ul {
            flex-direction: column;
            gap: 2rem;
            li {
                width: 100%;
            }
        }
    }
}
