.books {
    ul {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        overflow: scroll;
        li {
            flex: 0 0 30%;
            list-style-type: none;
            display: flex;
            gap: 1rem;
            img {
                border-radius: 5px;
                height: 150px;
                width: 100px;
            }
            p {
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .books {
        ul {
            flex-direction: column;
            gap: 2rem;
            li {
                width: 100%;
            }
        }
    }
}
