.courseRow {
    width: 100%;
    align-items: space-between;
}

.head {
    p {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.courseRowTitle {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.detailsButtonMobile {
    display: none;
}

.detailsButton {
    width: fit-content !important;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem !important;
    margin-right: 1.5rem;
    border-radius: 10px;
    background-color: #fff !important;
    border: 1px solid #e1e1e1;
    color: #312e81;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.details {
    background: #fff;
    p,
    strong {
        text-align: left !important;
    }
}

.courseContent {
    padding: 1rem 0 !important;
    & > p {
        text-align: left !important;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.faculty {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1.5rem;
    p {
        font-size: 1.5rem;
        span {
            font-weight: bold;
            font-size: 1.4rem;
        }
    }
}

.table {
    margin-bottom: 2rem;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    th,
    td {
        padding: 10px;
        &:first-of-type {
            width: 55%;
        }
        &:last-of-type {
            text-align: center;
        }
    }
    th {
        cursor: default;
        &:nth-child(2) {
            position: relative;
            &::before {
                position: absolute;
                content: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='%234763cf' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'%3E%3C/path%3E%3C/svg%3E");
                height: 16px;
                width: 16px;
                right: 0;
            }
        }
    }
    tbody {
        tr {
            font-size: 1.5rem;
            &:nth-child(odd) {
                background-color: #f6f8ff;
            }
        }
    }
}

@media (max-width: 480px) {
    .courseRow {
        margin-top: 2.5rem;
        display: block;
    }
    .detailsButton {
        display: none;
    }
    .detailsButtonMobile {
        width: 100%;
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        gap: 0.75rem;
        background-color: #e0e7ff !important;
        border-bottom: 1px solid #4f46e5;
        justify-content: space-between;
    }
    .details {
        flex-direction: column;
    }
}
