.expandContainer {
    margin-bottom: 1rem;
}

.textRegular {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #0f172a;
    margin-bottom: 1rem;
}

.readMoreButton {
    margin-top: 16px;
    font-weight: bold;
    height: auto;
    padding: 10px 24px;
    align-self: flex-start;
    display: inline-block;
}
