.formContainer {
  margin: 3rem auto 7rem;
  padding: 3rem;
  background-color: #ffffff;
  border: 1px solid #e5e7eb; 
  border-radius: 0.5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.form h3 {
  font-size: 2.5rem; 
  font-weight: 600;
  margin: 1rem auto 4rem;
  color: #111827; 
}

.form p {
  color: #6b7280; 
  margin-bottom: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  width: 100%;
}

.field label {
  font-weight: 500;
  color: #111827; 
  margin-bottom: .7rem;
  font-size: 1.45rem;
}

.input ,
.textarea {
  padding: 1rem;
  border: 1px solid #d1d5db; 
  border-radius: 0.375rem; 
  transition: border-color 0.2s, box-shadow 0.2s;
  background: none;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #4f46e5; 
  box-shadow: 0 0 0 1px #4f46e5; 
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #c7d2fe; 
}

.form button {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.form button svg {
  margin-right: .7rem;
  fill: #fff;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-width: 2px;
  border-radius: 0.5rem; 
  border-color: rgba(156, 163, 175, 0.25); 
  border-style: dashed;
  background-color: white;
  color: #4b5563;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.dropzone:hover,
.dropzone:focus {
  border-color: #4f46e5; 
}

.dropzone input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.dropzone__prompt {
  text-align: center;
  margin-bottom: 0.5rem;
}

.dropzone__prompt svg {
  margin-bottom: 1rem;
}

.dropzone__prompt p {
  line-height: 1.25rem; 
  color: #6b7280; 
}

.thumbnails {
  display: flex;
}

.thumbnail {
  width: 150px;
  margin: 2rem;
  position: relative;
}

.thumbnail svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}

.success {
  display: flex;
}

.success svg {
  margin-right: 1rem;
  fill: #7dcc87;
}

@media (max-width: 720px){
  .formContainer {
    margin: 2rem 0 7rem;
  }
  .field select, 
  .field input {
    width: 100%;
  }

}

