.section {
  background: #f6f8fb;
  padding: 7rem 0;
  margin-bottom: 10rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;

  h2 {
    margin: 0;
  }
}

.process {
  margin-left: auto;
  p {
    font-size: 1.6rem;
    a {
      color: #b3383e;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.stepWrapper {
  position: relative;
  padding-left: 4rem;

  &:before {
    content: "";
    position: absolute;
    left: 2rem;
    top: 2.8rem;
    width: 2rem;
    height: 2px;
    background: #ffb013;
  }
}

.number {
  position: absolute;
  left: -10px;
  top: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.75rem;
  font-weight: bold;
}

.step {
  background: white;
  padding: 3rem;
  height: 100%;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.iconWrapper {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 176, 19, 0.1);
  border-radius: 50%;
  margin-bottom: 2rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    color: #ffb013;
  }
}

.step {
  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #001d23;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;

    a {
      color: #b3383e;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    margin-bottom: 5rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .process {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 4rem 0;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 8rem;
    margin-top: 8rem;
  }

  .step {
    text-align: center;
    padding: 3rem 2rem;

    &:hover {
      transform: none;
    }
  }

  .number {
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .stepWrapper {
    padding-left: 0;
    &:before {
      left: 50%;
      top: -1.2rem;
      width: 2rem;
      height: 2px;
      background: #ffb013;
      transform: translateX(-50%) rotate(90deg);
    }
  }

  .iconWrapper {
    margin: 0 auto 2rem;
  }
}
