.campus {
  padding: 3rem 0;
}

.content {
  padding: 3rem 0;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 3rem;
    align-items: center;
  h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 6rem;
    span {
      color: #ffb013;
    }
  }

  p {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 2;
    display: block;
    &:last-of-type {
      padding-left: 2.5rem;
      border-left: 4px solid #ffb013;
      line-height: 2;
      margin-top: 1rem;
    }
  }
}

.images {
  margin-bottom: 8rem;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 3px;
  }
  a {
    &:nth-child(2) {
      grid-row: span 2;
    }
  }
}

.itemGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  & > div:nth-child(even){
    flex-direction: row-reverse;
  }
}

.itemSection {
  display: flex;
  gap: 6rem;
  align-items: center;
  & > div {
    flex: 0 1 50%;
  }
}

.itemInfo {
  padding: 3rem;
  margin-top: -1.75rem;
  h3 {
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
    border-left: 4px solid #ffb013;
    padding-left: 2rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: justify;
  }
}

.itemImages {
  img {
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.gallery {
  width: fit-content;
  margin: 0 auto 5rem;
}

.addresscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.address {
  padding: 2.5rem 0;
  flex: 0 0 35%;
  & > h3 {
    border-left: 4px solid #ffb013;
    padding-left: 2rem;
    margin-bottom: 4rem !important;
    margin-top: 1rem;
  }
}

.addressfield, .contactfield {
  padding-left: 2rem;
  h3 {
    font-size: 1.7rem !important;
    margin-bottom: .75rem !important;
  }
  margin-bottom: 35px;


  & > div {
      display: flex;
      align-items: flex-start;
      font-size: 1.6rem;
  }
  span {
    display: block;
    line-height: 1.8;
    font-size: 1.6rem;
    padding-left: 3rem;
  }
  svg {
    margin-right: 14px;
  }
}

.map {
  padding: 3rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
  h3 {
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
  }
}

.mapcontainer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  flex: 0 0 65%;
}

@media (max-width: 768px) {
  .campus {
    padding: 1rem 0;
    & > div {
      grid-template-columns: 1fr;
    }
  }
  .content {
    padding: 1rem 2rem;
    grid-template-columns: 1fr;
    h1 {
      font-size: 4rem;
    }
  }
  .images {
    margin-bottom: 6rem;
    img {
      height: 250px;
    }
  }
  .gallery {
    margin: 2.5rem 1rem;
    img {
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
  .itemGrid {
    & > div:nth-child(even){
    flex-direction: column;
  }
  }
  .itemSection {
    flex-direction: column;
    gap: 3rem;
    & > div {
      flex: 0 0 100%;
    }
  }
  .itemImages {
    img {
      height: 300px;
    }
  }
  .addresscontainer {
    flex-direction: column;
  }
  .address {
    flex: 0 0 100%;
    padding: 2rem 0;
    width: 100%;
  }
  .mapcontainer {
    flex: 0 0 100%;
     height: 300px;
  }
  .map {
    padding: 2rem;
  }
}
